@charset "utf-8";

/*글꼴*/
@font-face { /*font-face를 써야지 다른 사람들이 볼때 웹브라우저에서도 글꼴을 다운로드하여 확인 할 수 있음*/
    font-family: "Nanum";
    font-weight: 400;
    src: url("font/NanumGothic.eot?#iefix") format("embedded-opentype"),
         url("font/NanumGothic.woff") format("woff"),
         url("font/NanumGothic.ttf") format("truetype");
}
@font-face {
    font-family: "NanumBold";
    font-weight: 600;
    src: url("font/NanumGothicBold.eot?#iefix") format("embedded-opentype"),
         url("font/NanumGothicBold.woff") format("woff"),
         url("font/NanumGothicBold.ttf") format("truetype");
}
@font-face {
    font-family: "NanumEX";
    font-weight: 900;
    src: url("font/NanumGothicExtraBold.eot?#iefix") format("embedded-opentype"),
         url("font/NanumGothicExtraBold.woff") format("woff"),
         url("font/NanumGothicExtraBold.ttf") format("truetype");
}
@font-face { /*도형 글꼴*/
    font-family: "webcafeIcon";
    font-weight: 400;
    src: url("font/webcafeIcon.eot?#iefix") format("embedded-opentype"),
         url("font/webcafeIcon.woff") format("woff"),
         url("font/webcafeIcon.ttf") format("truetype"),
         url("font/webcafeIcon.svg#webcaferegular") format("svg");
}



/* 초기화 */
*{
    margin: 0px; 
    padding: 0px; 
    border: 0px;
}

html{
    overflow-y: scroll; 
    overflow-x: hidden;
}

body{
    font-family: 'Noto Sans KR', sans-serif;
}

ul, li{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    border: 0px;
}
.fc:after{
	content: '';
	display: block;
	clear: both;
}

/*인포링크 부분*/

.infoLink{
    position: absolute;
    top: 3px;
    display: inline-block;
    right: 50px;
    text-align: right;
    /* border: 1px solid black; */

}



.infoLink>li {
    display: inline-block;
    padding: 8px 0 7px 3px; /*header 부분에서 패딩을 30px 줬기때문에 오른쪽은 0*/
    color: #777;
    font-size: 0.9em;
}



.infoLink a::before { /*.infoLink >li >a 랑 같은뜻*/
    content: "|";
    padding-right: 8px;
    color: #777;
}



.infoLink >li:first-child a::before { /*infoLink의 자식인 li의 첫번째 자식 엔커의 before*/
    content: "";

}


/*탑버튼*/
#top_btn{
	position: fixed; 
    top: 90%; 
    right: 25px; 
    z-index: 400;
}

/* header */
#header_wrap{
	width: 100%;
	height: 115px;
	position: relative;
	background: #ffffff;
	z-index: 200;
}
#header_fixed{
	width: 100%;
	position: fixed;
	background: #ffffff;
	border-bottom: 1px solid #dddddd;
}
#header{
	width: 1180px;
	height: 100px;
	margin: 0 auto;
}
#header #gnb{
	width: 1180px;
	height: 27px;
	margin-top: 14px;
}

/*좌측상단메뉴*/
.top_gnb{
	height: 20px;
	position: relative;
	top: 20px;
}

.top_gnb li{ 
	float: left;
	padding-right: 10px;
	margin-right: 10px;
}




.top_gnb li a{
	font-size: 13px;
	font-weight: 400;
	color: #848484;
	display: block;
}

.top_sns li{
	float: left;
	margin-left: 10px;
}

.top_sns li a{ 
	display: block;
	width: 23px;
	height: 23px;
	text-indent: -9999px; /*텍스트 밀어내기*/
}
#top_menu_wrap{ /*네비 부분*/
	width: 100%; /*1180px*/
	margin: 0 auto;
	margin-top: 15px;
}
.logo{
	text-align: center;
	top: -10px;
}


.bg_menu{ /*마우스 올렸을때 펼쳐지는 부분*/
	position: relative;
	float: right;
	margin-top: -20px;
	overflow: hidden;
	top: 10px;
	height: 50px;
	transition-property: height;
	transition-duration: 0.3s;
}
.nav:hover .bg_menu{
	height: 230px;
}
.depth1>li{
	float: left;
	text-align: center;
}
.depth1>li>a{
	color: #000000;
	padding: 0px 0px 0px 70px;
	font-size: 17px;
	font-weight: 400;
	letter-spacing: -1px;
	text-align: center;
	display: block;
}
.depth1>li>a:hover span{/*메뉴 하단선*/
	border-bottom: 3px solid #f5deaa;
	padding-bottom: 5px;
}

.nav .drop_bg{ /*서브메뉴 배경 width: 100%*/
	position: absolute;
	width: 100%;
	height: 0px;
	background: #ffffff;
	top: 114px;

	transition-property: height;
	transition-duration: 0.3s;
}


 .nav .drop_bg span{ /*배너이미지*/

	background-size: 250px;
	display: block;
	width: 1180px;
	margin: 0 auto;
	margin-top: 20px;
	overflow: hidden;
	transition-property: height;
	transition-duration: 0.3s;
}

 .nav:hover .drop_bg{ /*펼쳐지는 구간*/
	width: 100%;
	height: 220px;
	border-bottom: 2px solid #f5deaa;
	border-top: 1px solid #dddddd;
}
 .nav:hover .drop_bg span{ /*펼쳐지는 구간 (배너이미지)*/
	height: 80%;
}


 .depth1 .depth2{ /*서브메뉴*/
	height: 0px;
	line-height: 10px;
}
 .depth1 .depth2 li{
	clear: both;
	padding-top: 25px;
}
 .depth1 .depth2 a{
	color: #666666;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: -1px;
	display: block;
	height: auto;
	text-align: center;
	margin-left: 70px;
}
#header_wrap #header #top_menu_wrap .depth1 .depth2 a:hover{
	color: #dec8ba;
}


/*비주얼 부분*/
.animation_canvas{
    position: relative;  /*나중에 부모 위치로 사용할거라*/
    width: 800px;
    overflow: hidden;  /*선택한 사진 제외한 나머지 사진은 안보임*/
    margin: 0 auto;    /*가운데 두고 싶으면 */
    margin-top: 100px;
}

.slider_panel{
    position: relative;  /*사진이 움직여야 하기때문에 포지션*/
    width: 5600px;
}

.slider_image{
    width: 800px;
    /*height: 420px;*/
    float: left;
}

.slider_text_panel{
    position: absolute;  /*부모위치 잘 사용중*/
    top : 530px;
    left : 45px;
}

.slider_text{
    position: absolute;  
    /*부모위치 잘 사용중(여긴 글씨가 일단 다 뭉쳐야함 이미지 이동할때 글자 위치가 그대로이게)*/
    width: 300px;
    height: 200px;
    color: #fff;
    
}
.slider_text > h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
    white-space: nowrap;
}

.slider_text > p {
    font-size: 0.9em;
    margin-bottom: 10px;
}

.left_contorl {   /*화살표 방향 왼쪽*/
    position: absolute;
    height: 30px;
    top : -200px;
    left : 10px;
    cursor: pointer;
    opacity: 0.5;
}

.right_contorl {   /*화살표 방향 오른쪽*/
    position: absolute;
    height: 30px;
    top : -200px;
    right : 10px;
    cursor: pointer;
    opacity: 0.5;
}

.control_panel{
    position: absolute;  /*부모위치 잘 사용중임*/
    top: 800px;
    left: 270px;
    height: 13px;  
    /*맨윗줄만 나오게
    ㅇㅇㅇㅇㅇ < 여기 부분만 그래서 13px
    ◎◎◎◎◎
    ● ● ● ● ●*/
    overflow: hidden;
    margin: 0 auto;
}

.control_button{
    position: relative;
    cursor: pointer;
    background: url(../images/point_button.png); 
    /*점선? 동그라미? 으로 되어 있는 슬라이드 바*/
    float: left;
    width: 12px;
    height: 46px;
}

.control_button:hover {
    top : -16px;
}

.control_button.active{  
    /*.active  >>자바스크립트로 조절 click 이벤트로(파랑색을 보이게)*/
    top : -31px;
}



/*새로 나왔어요*/
section #main_cont3{
	position: relative;
	width: 100%; 
	height: 1200px;
	top: 25px;
	margin: 0 auto;
	background-color: #ffffff;
}

 #cont3_wrap{
	width: 1180px; 
	height: 550px;
	margin: 0 auto;
}

 #cont3_wrap .cont3_tit{
	text-align: center;
	padding-top: 50px;
}

 #cont3_wrap .cont3_tit h2{
	font-size: 32px; 
	font-weight: 900;
	letter-spacing: -1px;
	color: #000000;
}

 #cont3_wrap .cont3_tit h2 span{
	color: #f5deaa;
}

 #cont3_wrap .cont3_tit p{
	font-size: 18px;
	letter-spacing: -1px;
	color: #000000;
	margin-top: 3px;
}

 #cont3_wrap .cont3_list{
	width: 100%; 
	height: 321px;
	margin-top: 50px;
}

 #cont3_wrap .cont3_list li{
	float: left;
	width: 24.3%; 
	height: 300px;
	overflow: hidden;
	border: 1px solid #dddddd;
	margin-right: 0.6%;

	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);

	transition: all 0.3s ease-in-out;
}

 #cont3_wrap .cont3_list li:hover img{
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);

	transition: all 0.3s ease-in-out;
}

 #cont3_wrap .cont3_list li.cont3_list4{
	margin-right: 0;
}

 #cont3_wrap .cont3_list li img{
	padding-top: 10px;
	display: block;
	margin: 0 auto;
}

 #cont3_wrap .cont3_list li h3{
	font-size: 18px;
	color: #000000;
	font-weight: 500;
	letter-spacing: -1px;
	text-align: center;
	padding-top: 20px;
}

 #cont3_wrap .cont3_list li p{
	font-size: 18px; 
	font-weight: 500;
	color: #dec8ba;
	letter-spacing: -1px;
	text-align: center;
	padding-bottom: 20px;
}


#main_cont4{
	position: relative;
	top: -150px;
	width: 100%; 
	height: 650px;
	margin: 0 auto;
	
}

.cont4_btn video {
	position: absolute;
	/* border: 1px solid red; */
	left: 50%;
	transform: translateX(-50%);
}

.cont4_btn h2 {
	position: absolute;
	top: 45%;
	left: 30%;
	color: white;
}

.cont4_btn p {
	position: absolute;
	top: 50%;
	left: 30%;
	color: white;
}


#cont4_wrap .cont4 h2{
	font-size: 32px; 
	font-weight: 900;
	letter-spacing: -1px;
	color: #000000;
}

#cont4_wrap .cont4 h2 span{
	color: #f5deaa;
}

#cont4_wrap .cont4 p{
	font-size: 18px;
	letter-spacing: -1px;
	color: #000000;
	margin-top: 3px;
}

#cont4_wrap .cont4 .cont4_btn{
	width: 150px; 
	height: 50px;
}

#cont4_wrap .cont4 .cont4_btn a{
	width: 150px; 
	height: 50px;
	background-color: #f5deaa;
	display: block;
	text-align: center;
	line-height: 50px;
	font-weight: 500;
	margin-top: 40px;
	color: black;
	border: 1px solid transparent;
}





/*footer*/
#footer_wrap{
	width: 100%; 
	margin: 0 auto;
	background: #ffffff;
	text-align:  center;
	padding: 30px 0;
	border-top: 2px solid #f5deaa;
}

#footer_wrap .footer_top,
#footer_wrap .footer_bottom{
	width: 1180px;
	height: 100px;
	margin: 0 auto 30px;
}

.footer_top{
    position: relative;
}

.footer_bottom{
    margin-top: 150px;
}

.footer_top>div{ 
	display: inline-block;
	font-size: 17px;
}
.footer_top>div:nth-child(1){
    position: absolute; top: 0; left: 0;
}
.footer_top>div:nth-child(2){
    position: absolute; top: 0; right: 0;
}

.footer_top>div>p{
	color: #a1a1a1;
	text-align: left;

}
.footer_top>div>p>a{
	color: #a1a1a1;
	font-weight: bold;
}
.footer_top>div>p>a:hover{
	color: #f5deaa;
}

.footer_bottom{
	color: #a1a1a1;
	text-align: left;
}
.footer_bottom a{
	color: #a1a1a1;
	font-weight: bold;
}
.footer_bottom a:hover{
	color: #f5deaa;
}