@charset "utf-8";

/*usefulArea 영역 시작*/
#usefulArea {
    position: relative;
    width: 400px;
    height: 500px;
    top: 100px;
    margin: 0 30px 200px ;
    margin:0 auto;
    bottom: 100px;
}

img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

/*1. 로그인 영역 섹션*/
.login {
    border-radius: 5px;
    padding: 10px;
    box-shadow: -1px -1px 5px rgba(0, 0, 0, 0.2);
                /*x y 번짐정도 색상과투명도*/
}

.login h2 {  /*로그인 창의 제목*/
    font-size: 1.2em;
    padding: 0 0 10px 10px;
    text-align: center;
}

.login p {  /*로그인 창의 제목*/
    font-size: 1em;
    padding: 0 0 10px 10px;
    text-align: center;
}

.login form { /*form 태그와 div 잘 봐야함!*/
    background-color: #fff;
    position: relative;
    border-radius: 3px 3px 0 0;
    padding: 10px 15px 0 10px;
}

.login label { /*아이디, 비밀번호 => inline을 inline-block으로*/
    display: inline-block;
    width: 50px;
}

.login input { /*아이디랑 비번 입력하는 창 */
    width: 120px;
    height: 18px;
    padding: 1px 1px 1px 4px;
    border: 1px solid #ccc;
}

#userId { /*아이디창과 비밀번호 창을 서로 띄어놓기*/
    margin-bottom: 6px;
}

.login button { /*로그인 버튼*/
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    color: #fff;
    font-weight: bold;
    font-size: 0.9em;
    border: 1px solid #ff4e00;
    border-radius: 3px;
    background-image: linear-gradient(to bottom, #fe5f18 0%, #fa4306 100%);
}

.login fieldset {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.memberLink {  /*회원가입/ 아이디 비밀번호 찾기 부분*/
    background-color: #fff;
    border-radius: 0 0 3px 3px;
    padding: 0 10px;
    overflow: hidden;
}

.memberLink a::before {  /*아이콘 넣기*/
    font-family: "webcafeIcon";
    content: "g";
    color: #fa3d00;
    margin-right: 3px;
    position: relative;
    top: 2px;
}
.join {  /*회원가입*/
    float: left;
    padding: 10px 0;
}
.find { /*아이디 비밀번호 찾기*/
    float: right;
    padding: 10px 0;
}